@page "/"

<PageTitle>Home</PageTitle>

<div class="flex justify-center mt-20 w-full flex-col items-center gap-6">
    <DisplayHeading Size="DisplayHeadingSize.Is1" TextColor="TextColor.Primary">
        Company Rating
    </DisplayHeading>

    <Heading Size="HeadingSize.Is2">
        Welcome to Company Rating App!
    </Heading>
</div>
